<div class="card">
  <span class="card_title">{{contentCardTitle}}</span>
  <div class="card_wrapper">
    <mat-card *ngFor="let i of contentArray" class="card_content">
      <img alt="card-image" src="{{cardImageUrl(i.thumbnail?.path, i.thumbnail?.extension )}}">
      <span class="card_content-title">{{i.title}}</span>
      <span class="card_content-description">{{i.description ? i.description : 'No description here'}}</span>
      <a *ngIf="!noDetailsLink" [href]="cardLink(i.urls)" class="card_content-link" target="_blank">more details</a>
      <span></span>
    </mat-card>
  </div>
</div>
