<div class="character-header">
  <div class="character-header_title">
    <span>{{character.name}}</span>
    <p>{{character.description !== '' ? character.description : 'Não há descrição'}}</p>
  </div>
</div>

<div class="character-comics">
  <span>QUADRINHOS</span>
  <div class="character-comics_list">
    <mat-card class="character-comics_card">
      <span>Nome do quadrinho</span>
      <!--    imagem do quadrinho-->
      <img src="/">
    </mat-card>
    <mat-card class="character-comics_card">
      <span>Nome do quadrinho</span>
      <!--    imagem do quadrinho-->
      <img src="/">
    </mat-card>
    <mat-card class="character-comics_card">
      <span>Nome do quadrinho</span>
      <!--    imagem do quadrinho-->
      <img src="/">
    </mat-card>
    <mat-card class="character-comics_card">
      <span>Nome do quadrinho</span>
      <!--    imagem do quadrinho-->
      <img src="/">
    </mat-card>
    <mat-card class="character-comics_card">
      <span>Nome do quadrinho</span>
      <!--    imagem do quadrinho-->
      <img src="/">
    </mat-card>
  </div>
</div>
