<div class="character-header"
>
  <div class="character-header_title">
    <span>{{character.name}}</span>
    <p>{{character.description !== '' ? character.description : 'Não há descrição'}}</p>
  </div>
</div>

<div class="character-comics">
  <span class="character-comics_title">QUADRINHOS</span>
  <div class="character-comics_list">
    <mat-card class="character-comics_card" *ngFor="let comic of characterComics">
      <img src="{{comicImageUrl(comic.thumbnail?.path, comic.thumbnail?.extension )}}">
      <span class="character-comics_card_subtitle">{{comic.title}}</span>
    </mat-card>
  </div>
</div>
