:host {
  background-color: #151515;
  height: 100%;
  display: block;
}

.character-header {
  background: #151515 linear-gradient(90deg, rgba(0, 0, 0, .65) 0, transparent);
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.character-header_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 16px;
  width: 500px;

  span {
    font: 500 42px/1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    font: 400 16px/1.3 Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
    margin-top: 16px;
  }
}

.character-info {
  background-color: #151515;
}

.character-info ::ng-deep .mat-tab-label {
  opacity: 1;
  color: #ffff;
  border: none;
  font-size: 16px;
}

.character-info ::ng-deep .mat-ink-bar {
  background-color: #e62429;
}

.character-info ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

.character-info ::ng-deep .mat-tab-header {
  height: 65px;
  align-items: center;
  border: none;
}
