<app-character-search
  (resetSearch)="resetSearch()"
  (searchTerm)="searchCharacter($event)"
></app-character-search>

<div class="characters-list">
  <span *ngIf="characters.length > 0" class="characters-list_title">FEATURED CHARACTERS</span>

  <mat-spinner
    *ngIf="charactersAreLoading"
    [diameter]="50"
    class="characters-list_spinner"
  ></mat-spinner>

  <span
    *ngIf="showNoCharactersFoundMessage"
    class="character-list_no-characters-message"
  >
    No characters have been found. Please try again.
  </span>
  
  <div class="characters-list_card">
    <mat-card *ngFor="let ch of characters" class="character-card">
      <img alt="character-thumbnail" src="{{characterImageUrl(ch.thumbnail?.path, ch.thumbnail?.extension)}}">
      <div class="character-card_info">
        <span class="character-card_name">{{ ch?.name}}</span>
        <span class="character-card_description">{{characterDescription(ch?.description)}}</span>
      </div>
      <span class="character-card_more-info" routerLink="/character/{{ch.id}}">more info</span>
    </mat-card>
  </div>

  <button
    (click)="loadMoreCharacters()"
    *ngIf="showLoadMoreButton && characters.length > 0"
    class="characters-list_load-more-button"
    mat-raised-button>
    <span>Load more</span>
    <mat-spinner
      *ngIf="loadMoreButtonIsLoading"
      [diameter]="19"
      class="characters-list_load-more-button--spinner"
    ></mat-spinner>
  </button>
</div>
